# Sanal ortam
venv/
env/

# Python çöpleri
__pycache__/
*.py[cod]

# --- PROJEYE ÖZEL GEÇİCİ DOSYALAR ---
# Sadece 'temp_' ile başlayanları engellemek daha güvenlidir
temp_*
tahmin_*

# Eğer test videolarını bir klasöre koyacaksan o klasörü komple engelleyebilirsin
test_videos/

# --- GÜVENLİK ---
# API anahtarları veya özel ayarlar (ileride eklersen diye)
.env
